<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="H.NotifyIcon" version="2.0.68" targetFramework="net472" />
  <package id="H.NotifyIcon.Wpf" version="2.0.68" targetFramework="net472" />
  <package id="ini-parser" version="2.5.2" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.31" targetFramework="net472" />
  <package id="OpenHardwareMonitor" version="0.9.6" targetFramework="net472" />
  <package id="PixiEditor.ColorPicker" version="3.3.1" targetFramework="net472" />
  <package id="Unnoficial.Microsoft.Expression.Drawing" version="1.0.0" targetFramework="net472" />
  <package id="WpfAnimatedGif" version="2.0.2" targetFramework="net472" />
</packages>